@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; margin: 0; background: transparent; }
* { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

